body{
    background-color: rgba(255, 227, 254, 0.603);
}
h1{
    font-size: 60px;
    text-align: center;
    color:rgba(96, 101, 196, 0.608) ;
    text-shadow: 10px 4px 2px white;
}
h1:hover{
    color: rgb(83, 29, 135);
}
p{
    display: inline;
    font-size: 30px;
    color: blueviolet;
}
#span1 {
    display: inline;
    color: rgb(255, 47, 47);
}
#span2{
    display: inline;
    color: rgb(60, 255, 0);
}
span:hover{
    background-color: rgb(217, 217, 217);
}
li:hover{
    display: inline;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    color: blueviolet;
}
h4{
    display: block;
    font-size: 40px;
    text-align: center;
    color:rgba(96, 101, 196, 0.608) ;
}
h4:hover{
    text-shadow: 10px 4px 2px white;
    color: blueviolet;
}
table{
    border: 2px dotted purple;
    margin: 0 auto;
}
th{
    background-color: rgba(96, 101, 196, 0.608);
    text-align: center;
    padding: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    font-family:calibri;
}
td{
   text-align: center;
   padding: 10px;
   padding-bottom: 6px;
   padding-top: 6px;
}
.A{
   background-color: rgb(253, 214, 253);
}
.b{
background-color: rgba(217, 176, 255, 0.608);
}
th:hover{
    background-color: purple;
}
.fail:hover{
    background-color: rgb(255, 51, 0);
}
.pass:hover{
    background-color: rgb(60, 255, 0);
}
.email:hover{
    background-color: rgb(255, 255, 255);
}
.name:hover{
    background-color: rgba(184, 84, 255, 0.585);
    color: rgb(255, 255, 255);
}